@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

:root{
    --bg-color:#181C14;
    --primary-color:#E7CCCC;
    --secundary-color:#DA8359;
    --font:"nunitos sans", sans-serif;
}
body{
    background-color: var(--bg-color);
    color:var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
}
